body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}

@font-face{
	font-family: "fader";
	src: url('fonts/WF-026510-009147-001253-3db37e90290cc07b3aba50bdd2a10396.woff');
}

section{
	width: 900px;
	margin: 0px auto;
	background-color: #FFFFFF;
}

section > img{
	max-width: 100%;
}

div, h1, h3, p {
	max-width: 75%;
	margin: 0 auto;
}

.categories {
	color: #0D9BCF;
	max-width: 640px;
	min-width: 576px;
}

.categories > a {
	text-transform: uppercase;
	color: #0D9BD2;
	font-family: "fader", sans-serif;
}

#title {
	padding-top: 28px;
	font-family: "fader", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #222;
	font-size: 56px;
	line-height: 64.4px;
	max-width: 640px;
	min-width: 576px;
}

h3{
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: "fader", sans-serif;
	font-size: 22.4px;
	font-weight: normal;
	font-style: normal;
	max-width: 640px;
	min-width: 576px;
}

